nav {
    background-color: #F2A91E;
}

/* .social-icons-container {
    display: flex;
    flex-direction: row;
} */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #51A687;
}

.jala-logo {
    width: 20vw;
}

.menu-svg {
    width: 25vw;
}

.skull-container {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: baseline;
    padding: 0;
    /* width: 100vw; */
}

.male-skull {
    width: 25vw;
}

.female-skull {
    width: 22vw;
}

.header-options {
    text-align: center;
}